<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.goodproject.beta-tester</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/reify/Classified/goodcapital_landing/beta_tester.py</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/reify/Classified/goodcapital_landing</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/opt/node@24/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>StartInterval</key>
  <integer>3600</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/reify/Classified/goodcapital_landing/diagnostics/beta-tester-launchd.out</string>

  <key>StandardErrorPath</key>
  <string>/Users/reify/Classified/goodcapital_landing/diagnostics/beta-tester-launchd.err</string>
</dict>
</plist>
